@{
    ViewData["Title"] = "Home Page";
}
@model List<User>;

<div>
    <h1>Aglunos Usuarios</h1>
    <ul class="border border-primary">
        @foreach (var user in Model)
        {
            <li >@user.Nombre @user.Apellido</li>
        }
    </ul>
</div>